<div class="col-lg-12 animated fadeInLeft row" id="slide-1">
    <div class="col-lg-7">
        <embed type="image/svg+xml"  class="col-12 m-0" src="{{ computer.com('location', 'all', '15', NeonStyle).render_data_uri() }}" />
    </div>
    <div class="col-lg-5">
        <h1>การใช้คอมพิวเตอร์ในสถานที่ต่างๆ ในช่วงอายุ 15-19 ปี</h1>
        <p>จะเห็นได้ว่าจากกราฟการใช้คอมพิวเตอร์ในสถานที่ต่าง ๆในช่วงอายุ 15-19 ปี โดยในปี 2553 ตั้งแต่ช่วงปลายปีถึงต้นปี 2554 มีเหตุการณ์ มหาอุทกภัย เกิดขึ้น ทำให้อัตราของหัวข้อในแต่ละปี มีอัตราที่ลดลง ยกเว้น กราฟ work เนื่องจากกลุ่มตัวอย่างในวัยนี้มีส่วนน้อยมากที่เริ่มทำงานแล้ว แต่เราจะเห็นได้ว่าในปี 2555 กราฟ Public service/ Public Library/ICT community center กับ กราฟ Another person’s home มีความแตกต่างอย่างชัดเจน เพราะในช่วงนั้นรัฐบาลมีนโยบายในการบริการ WIFI ให้ฟรีแก่ประชาชนตามจุดต่าง ๆ คนจึงเริ่มหันไปใช้อินเตอร์เน็ตตามสถานที่ต่าง ๆที่รัฐบาลได้จัดทำไว้ให้ จึงเป็นปัจจัยที่ทำให้การนำคอมพิวเตอร์ไปใช้ในบ้านคนอื่นมีอัตราน้อยลง แต่ด้วยเรื่องปัจจัยด้านความปลอดภัย จึงทำให้คนเริ่มหันกลับมาใช้ในสถานที่ของคนอื่นเหมือนเดิม</p>
    </div>
    <div class="col-lg-12">
        <p>พอเข้าสู่ปี 2557 บริษัทในประเทศไทยเริ่มมีการลงทุนการวางสายเคเบอร์ที่มากขึ้นโดยบริษัท ทีโอทีซึ่งได้รับการสนับสนุนโดยรัฐบาลในการลงทุน โครงข่ายระบบเคเบิลใต้น้ำระหว่างประเทศ และ ในขณะนั้นยังมีบริษัทเอกชนอีกหลายเจ้าที่ได้รับใบอนุญาต และได้ทำการก่อสร้างโครงข่าย Interlink Fiber Optic Network </p>
        <p>นอกจากนี้ในปี 2558 ที่ผ่านมาได้มีการดำเนินการก่อสร้างโครงการจ้างเหมาก่อสร้างพร้อมติดตั้งอุปกรณ์สายส่งแรงสูง 115 เควี และโครงการจ้างเหมาก่อสร้างเคเบิ้ลใต้น้ำระบบ 22 เควี  ทำให้อินเตอร์เน็ตมีความเร็วที่สูงขึ้นเรื่อย ๆ  แต่เนื่องจากราคาที่สูงทำให้กลุ่มตัวอย่างในวัยนี้ไม่สามารถซื้อมาครอบครองได้ ทำให้อัตราการใช้คอมพิวเตอร์ในบ้านของคนอื่นมีอัตราที่สูงขึ้น ในช่วงปี 2558 ถึงช่วงปี 2559 กราฟ Public service/ Public Library/ICT community center มีอัตราที่สูงขึ้นมากเนื่องจากในปีนั้นเป็นช่วงที่ประเทศไทยกำลังเข้าสู่ยุค Thailand 4.0 ทำให้รัฐบาลมีการลงทุนเงินในการพัฒนา ICT Community Center ทั่วไทย ทำให้มีกลุ่มตัวอย่างในวัยนี้เกิดความสนใจเป็นอย่างมาก </p>
    </div>
</div>
<div class="col-lg-12 animated fadeInLeft row" id="slide-1">
    <div class="col-lg-7">
        <embed type="image/svg+xml"  class="col-12 m-0" src="{{ computer.com('location', 'all', '49', NeonStyle).render_data_uri() }}" />
    </div>
    <div class="col-lg-5">
        <p>แต่หากเรามองในกลุ่มตัวอย่างในวัย 40-49 จะเห็นได้ว่าอัตราของกราฟ Another person’s home และกราฟ Public service/ Public Library/ICT community center ในช่วง 2557 – 2559 มีส่วนขัดแย้งกับกลุ่มตัวอย่างในวัย 15 – 19 เพราะ กลุ่มตัวอย่างในวัย 40-49 พอจะมีเงินในการถือครองอินเตอร์เน็ตราคาสูงไว้ที่บ้านจึงไม่มีเหตุจำเป็นอะไรที่ต้องนำคอมพิวเตอร์ของตนไปใช้งานในบ้านของคนอื่น และ การที่รัฐบาลทำการพัฒนา ICT Community Center ก็ไม่สามารถสร้างความสนใจให้กับบุคคลในกลุ่มตัวอย่างนี้ได้จึงเป็นเหตุให้ กราฟ Public service/ Public Library/ICT community center มีอัตราที่ลดลง</p>
    </div>
</div>
<div class="col-lg-12 animated fadeInRight row" id="footer">
    <div class="col-lg-12">
        <h3>Reference</h3>
        <table width="100%">
            <tr>
                <td><a href="https://www.thairath.co.th/content/46357">thairath.co.th</a></td>
                <td><a href="https://www.it24hrs.com/2012/free-wi-fi/">it24hrs.com</a></td>
            </tr>
            <tr>
                <td><a href="https://www.posttoday.com/digital/319001">posttoday.com</a></td>
                <td><a href="http://www.interlink.co.th/website/?page=ir2">interlink.co.th</a></td>
            </tr>
        </table>
        <br>
    </div>
</div>
