<div class="col-lg-7 col-12 mt-3">
    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quo reprehenderit numquam iste at doloremque. Dolores iure dolorum, voluptatum quam minima hic aspernatur totam consectetur ad exercitationem non. Voluptatum, reprehenderit ducimus.
</div>
<div class="col-lg-5 col-12 mt-3">
    
    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quo reprehenderit numquam iste at doloremque. Dolores iure dolorum, voluptatum quam minima hic aspernatur totam consectetur ad exercitationem non. Voluptatum, reprehenderit ducimus.
    <img class="col-12" style="background:#fff;height:300px;">
</div>