<div class="col-12 row full-height">
    <div class="col-lg-7 col-12 mt-3">
        <iframe class="col-12 m-0" src="{{ main.main('Computer', 'all', 'area', NeonStyle).render_data_uri() }}"></iframe>
    </div>
    <div class="col-lg-5 col-12 mt-3">
        <p>
            เราได้เห็น จุดเด่น ของกราฟระหว่าง ปี พศ. 2557 – 2559 สังเกตุได้ว่า เปอร์เซนต์การใช้งาน คอมพิวเตอร์นั้น ลดลง               อย่างเห็นได้ชัด ซึ่งจากการ คาดการ น่าจะเป็นผลมาจาก โทรศัพท์ ที่มีความสามารถและราคาถูกกว่าคอมพิวเตอร์
        </p>
        <p>
            จากข้อมูลอ้างอิง พบว่า ระบบปฏิบัติการ  Android ในโทรศัพท์ปัจจุบันนั้น ถูกพัฒนามาเป็นเวลายาวนานแล้ว และจนบริษัทกูลเกิลได้นำมาจำหน่ายโดยใช้ Android ทำงานร่วมกับโทรศัพท์หน้าจอสัมผัส และในปี พศ.2557 โทรศัพท์          หน้าจอสัมผัสนี้ ได้รับความนิยม ทั้งเรื่อง ราคาที่ถูกลงเรื่อยๆ(ถูกกว่าคอมพิวเตอร์) และความสามรถ ที่เพิ่มมากขึ้น        
        </p>
    </div>
</div>
<div class="col-12 row full-height">
    <div class="col-lg-7 col-12 mt-3">
        <iframe class="col-12 m-0" src="{{ main.main('Mobile', 'all', 'area', NeonStyle).render_data_uri() }}"></iframe>
    </div>
    <div class="col-lg-5 col-12 mt-3">
        <p>จะเห็นได้ชัดจากกราฟนี้ ว่าอัตราการใช้งานโทรศัพท์มือถือ ในประเทศ เพิ่มมากขึ้นทุกปี</p>
        <p>แต่นี่ก็ไม่ใช่เหตุผลเดียวที่ ผู้คนหันมานิยมกันใช้โทรศัพท์มือถือ นอกจากมันจะถูกลงเรื่อยๆ มีความทันสมัยขึ้นเรื่อยๆ และยังพงพาได้สะดวกอีก แต่ที่สำคัญอีกอย่างหนึ่งก็คือ ระบบ อินเทอร์เน็ต จากกราที่ ประเทศของเราได้มีสิ่งที่เรียกว่า Cellular Network</p>
        <p>Cellular Network นั้นเป็นเครือข่าย ที่สามารถเชื่อมต่ออินเทอร์เน็ตได้ ถ้าอยู่ในขอบเขต โดยถูกนำมาใช้ใน ปี พศ.2555 แต่ด้วยราคาค่าบริการนั้นทำให้ยังไม่มีผู้ใช้งานมากนัก แต่ในปีถัดมาเรื่อยๆ ราคาเริ่มถูกลง และ ทางค่ายโทรศัพท์ต่างๆมีการจัดแพ๊คแกจอินเทอร์เน็ตมากมายควบคู่กับการซื้อโทรศัพท์ ทำให้อัตราใช้งานนั้นเพิ่มขึ้น อย่างต่อเนื่อง </p>
    </div>
</div>
<div class="col-12 row full-height">
    <div class="col-lg-7 col-12 mt-3">
        <iframe class="col-12 m-0" src="{{ main.main('Mobile', 'all', 'area', NeonStyle).render_data_uri() }}"></iframe>
    </div>
    <div class="col-lg-5 col-12 mt-3">
        <p>จะเห็นได้ชัดจากกราฟนี้ ว่าอัตราการใช้งานโทรศัพท์มือถือ ในประเทศ เพิ่มมากขึ้นทุกปี</p>
        <p>แต่นี่ก็ไม่ใช่เหตุผลเดียวที่ ผู้คนหันมานิยมกันใช้โทรศัพท์มือถือ นอกจากมันจะถูกลงเรื่อยๆ มีความทันสมัยขึ้นเรื่อยๆ และยังพงพาได้สะดวกอีก แต่ที่สำคัญอีกอย่างหนึ่งก็คือ ระบบ อินเทอร์เน็ต จากกราที่ ประเทศของเราได้มีสิ่งที่เรียกว่า Cellular Network</p>
        <p>Cellular Network นั้นเป็นเครือข่าย ที่สามารถเชื่อมต่ออินเทอร์เน็ตได้ ถ้าอยู่ในขอบเขต โดยถูกนำมาใช้ใน ปี พศ.2555 แต่ด้วยราคาค่าบริการนั้นทำให้ยังไม่มีผู้ใช้งานมากนัก แต่ในปีถัดมาเรื่อยๆ ราคาเริ่มถูกลง และ ทางค่ายโทรศัพท์ต่างๆมีการจัดแพ๊คแกจอินเทอร์เน็ตมากมายควบคู่กับการซื้อโทรศัพท์ ทำให้อัตราใช้งานนั้นเพิ่มขึ้น อย่างต่อเนื่อง </p>
    </div>
</div>