<div class="col-lg-12 animated fadeInLeft row" id="slide-1">
    <div class="col-lg-7">
        <embed type="image/svg+xml"  class="col-12 m-0" src="{{ phone.main('all', 'whole', 'all', NeonStyle).render_data_uri() }}" />
    </div>
    <div class="col-lg-5">
        <h1>การใช้งานโทรศัพท์มือถือ พ.ศ.2553 - พ.ศ.2559</h1>
        <p>ในส่วนของกราฟ Mobile function คือการใช้แอพพลิเคชั่นบนมือถือและ Data ซึ่งคือการใช้อินเตอร์เน็ตมีการเติบต่อขึ้นเรื่อยๆ เนื่องจากปี 56 TRUEMOVE H เปิดตัว 4G ในวันที่ 8 พ.ค. ทำให้เกิดการใช้งานบริการต่างๆทางโทรศัพท์ที่เกี่ยวข้องอินเตอร์เน็ตอย่างก้าวกระโดด ในขณะที่ DTAC เปิดตัวเมื่อวันที่ 9 พ.ค. 57 เปิดตัว 4G LTE และ AIS เปิดตัว AIS 4G Advance ในวันที่ 4 ธ.ค. 58 ยิ่งทำให้เกิดการก้าวกระโดดอย่างต่อเนื่อง รวมถึงจำนวนผู้ใช้ smart phone ที่เพิ่มขึ้นก็ส่งผลให้กราฟก้าวกระโดดด้วย</p>
        <p>ในส่วนของ SMS สังเกตได้ชัดเจนว่ากราฟจะหยุดโตในช่วงปี 55 ไปปี 56 ซึ่งเป็นปีเดียวกับการเข้ามาของ 4G ในไทย
        แต่ ถึงอย่างนั้น กราฟยังคงเพิ่มขึ้นเล็กน้อย แต่ไม่ลดลง เพราะการใช้งาน SMS ยังคงถูกใช้งานอย่างแพร่หลาย ทั้งรหัส OTP การแจ้งเตือนความเคลื่อนไหวทางธุรกรรม รวมถึงโฆษณาต่างๆด้วย</p>
        <p>ส่วน mobile banking ทั้งแอพพลิเคชั่นธุรกรรมของธนาคาร และการจ่ายเงินผ่านบริการทางโทรศัพท์ยังคงเพิ่มขึ้นอย่างต่อเนื่อง แต่ด้วยความยังไม่เข้าถึงคนทุกกลุ่ม ทำให้กราฟยังไม่เพิ่มขึ้นอย่างก้าวกระโดด</p>
    </div>
</div>
<div class="col-lg-12 animated fadeInRight row" id="footer">
    <div class="col-lg-12">
        <h3>Reference</h3>
        <table width="100%">
            <tr>
                <td>4G</td>
                <td><a href="https://www.iphonemod.net/truemove-h-4g-news.html">iphonemod.net</a></td>
            </tr>
            <tr>
                <td>Iphone 4</td>
                <td><a href="https://hilight.kapook.com/view/52203">hilight.kapook.com</a></td>
            </tr>
            <tr>
                <td>Iphone 4s</td>
                <td><a href="https://hilight.kapook.com/view/52203">hilight.kapook.com</a></td>
            </tr>
        </table>
        <br>
    </div>
</div>
