@import url('https://fonts.googleapis.com/css?family=Kanit:200');
.navbar {
    background-color: black;
}
html{
    overflow-y: auto;
}
body{
    overflow-y:hidden;
}
html, body{
    background-color: black;
    color:#f6f6f6;
    font-family: 'Kanit', sans-serif;
    overflow-x:hidden;
}
.container .content {
    background-color: rgb(249, 249, 249);
    border-radius: 3px;
    box-shadow: 0 3px 3px 0px rgba(0, 0, 0, 0.5);
    z-index: 1;
    color:black;
}
.jumbotron{
    height: 80vh;
    background: none;
    padding: 7em 3em;
}
.detail > div > div{
    text-align: justify;
    display: block;
}
.detail > div > div > embed::after{
    display: block;
    margin: 0;
    border-radius: 3px;
    border: none;
    width: 100%;
    height: 100%;   
    z-index: 1;
}
.detail > div > div > p{
    display: block;
    line-height: 25px;
    text-align: left;
    text-indent: 25px;
    margin:30px 5px;
    z-index: 30;
}
.full-lg {
    min-height:100vh;
}
