.navbar {
    background-color: rgb(5, 15, 25);
}
html, body{
    background-color: rgb(5, 15, 25);
    color:#f6f6f6;
}
.container .content {
    background-color: rgb(249, 249, 249);
    border-radius: 3px;
    box-shadow: 0 3px 3px 0px rgba(0, 0, 0, 0.5);
    z-index: 1;
}
.jumbotron{
    height: 80vh;
    background: none;
    padding: 7em 3em;
}
