<nav class="navbar fixed-top navbar-expand-lg navbar-dark pr-lg-5 pl-lg-5" style="z-index:200;">
    <a class="navbar-brand" href="/">Internet Population</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Charts
                    </a>
                    {% include 'dropdown_chart.html' %}
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="/analysis/">Analysis</a>
                </li>
            </ul>
        </div>
    </div>
</nav>