<div class="col-12 mb-5">
	<div id="exampleAccordion" data-children=".item">
	  <div class="item">
	    <a data-toggle="collapse" data-parent="#exampleAccordion" href="#exampleAccordion1" aria-expanded="true" aria-controls="exampleAccordion1">
	      <h3 class="dropdown-toggle">Internet Usage</h3>
	    </a>
	    <div id="exampleAccordion1" class="collapse show" role="tabpanel">

	<div id="accordion" role="tablist">
	  <div class="card mt-2 mr-md-3">
	    <div class="card-header" role="tab" id="headingOne">
	      <h5 class="mb-0">
	        <a data-toggle="collapse" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
	          Location
	        </a>
	      </h5>
	    </div>

	    <div id="collapseOne" class="collapse " role="tabpanel" aria-labelledby="headingOne" data-parent="#accordion">
	      <div class="card-body col-12 row">
					<a href="/charts/internet/location/" class="col-12">all</a>
					<a href="/charts/internet/location/2553" class="col-12">2553</a>
					<a href="/charts/internet/location/2554" class="col-12">2554</a>
					<a href="/charts/internet/location/2555" class="col-12">2555</a>
					<a href="/charts/internet/location/2556" class="col-12">2556</a>
					<a href="/charts/internet/location/2557" class="col-12">2557</a>
					<a href="/charts/internet/location/2558" class="col-12">2558</a>
					<a href="/charts/internet/location/2559" class="col-12">2559</a>
	      </div>
	    </div>
	  </div>
	</div>
	<div class="card mt-2 mr-md-3">
      <div class="card-header" role="tab" id="headingTwo">
        <h5 class="mb-0">
          <a class="collapsed" data-toggle="collapse" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
            Activity
          </a>
        </h5>
      </div>
      <div id="collapseTwo" class="collapse" role="tabpanel" aria-labelledby="headingTwo" data-parent="#accordion">
        <div class="card-body col-12 row">
					<a href="/charts/internet/activity/" class="col-12">all</a>
					<a href="/charts/internet/activity/2553" class="col-12">2553</a>
					<a href="/charts/internet/activity/2554" class="col-12">2554</a>
					<a href="/charts/internet/activity/2555" class="col-12">2555</a>
					<a href="/charts/internet/activity/2556" class="col-12">2556</a>
					<a href="/charts/internet/activity/2557" class="col-12">2557</a>
					<a href="/charts/internet/activity/2558" class="col-12">2558</a>
					<a href="/charts/internet/activity/2559" class="col-12">2559</a>
        </div>
      </div>
    </div>
    <div class="card mt-2 mr-md-3">
      <div class="card-header" role="tab" id="headingThree">
        <h5 class="mb-0">
          <a class="collapsed" data-toggle="collapse" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
            User
          </a>
        </h5>
      </div>
      <div id="collapseThree" class="collapse" role="tabpanel" aria-labelledby="headingThree" data-parent="#accordion">
		  <div class="card-body col-12 row">
				<a href="/charts/internet/user/" class="col-12">all</a>
  			<a href="/charts/internet/user/2553" class="col-12">2553</a>
  			<a href="/charts/internet/user/2554" class="col-12">2554</a>
  			<a href="/charts/internet/user/2555" class="col-12">2555</a>
  			<a href="/charts/internet/user/2556" class="col-12">2556</a>
  			<a href="/charts/internet/user/2557" class="col-12">2557</a>
  			<a href="/charts/internet/user/2558" class="col-12">2558</a>
  			<a href="/charts/internet/user/2559" class="col-12">2559</a>
          </div>
      </div>
    </div>
    <div class="card mt-2 mr-md-3">
        <div class="card-header" role="tab" id="headingfour">
          <h5 class="mb-0">
            <a class="collapsed" data-toggle="collapse" href="#collapsefour" aria-expanded="false" aria-controls="collapsefour">
								Period of internet access
            </a>
          </h5>
        </div>
        <div id="collapsefour" class="collapse" role="tabpanel" aria-labelledby="headingfour" data-parent="#accordion">
            <div class="card-body col-12 row">
								<a href="/charts/internet/access/" class="col-12">all</a>
                <a href="/charts/internet/access/2553" class="col-12">2553</a>
                <a href="/charts/internet/access/2554" class="col-12">2554</a>
                <a href="/charts/internet/access/2555" class="col-12">2555</a>
                <a href="/charts/internet/access/2556" class="col-12">2556</a>
                <a href="/charts/internet/access/2557" class="col-12">2557</a>
                <a href="/charts/internet/access/2558" class="col-12">2558</a>
                <a href="/charts/internet/access/2559" class="col-12">2559</a>
            </div>
        </div>
    </div>
</div>
</div>
</div>
</div>
