<div class="col-12 mb-5">
        <div id="exampleAccordion" data-children=".item">
          <div class="item">
            <a data-toggle="collapse" data-parent="#exampleAccordion" href="#exampleAccordion1" aria-expanded="true" aria-controls="exampleAccordion1">
              <h3 class="dropdown-toggle">Charts</h3>
            </a>
            <div id="exampleAccordion1" class="collapse show" role="tabpanel">
    
        <div id="accordion" role="tablist">
          <div class="card mt-2 mr-md-3">
            <div class="card-header" role="tab" id="headingOne">
              <h5 class="mb-0">
                <a data-toggle="collapse" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                  Computer
                </a>
              </h5>
            </div>
    
            <div id="collapseOne" class="collapse " role="tabpanel" aria-labelledby="headingOne" data-parent="#accordion">
              <div class="card-body col-12 row">
                    <div class="dropdown show col-12">
                      <a class="dropdown-toggle " href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Area
                      </a>
                      <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                        <a class="dropdown-item" href="/charts/main/Computer/area/">All</a>
                        <a class="dropdown-item" href="/charts/main/Computer/area/2553">2553</a>
                        <a class="dropdown-item" href="/charts/main/Computer/area/2554">2554</a>
                        <a class="dropdown-item" href="/charts/main/Computer/area/2555">2555</a>
                        <a class="dropdown-item" href="/charts/main/Computer/area/2556">2556</a>
                        <a class="dropdown-item" href="/charts/main/Computer/area/2557">2557</a>
                        <a class="dropdown-item" href="/charts/main/Computer/area/2558">2558</a>
                        <a class="dropdown-item" href="/charts/main/Computer/area/2559">2559</a>
                      </div>
                    </div>
                    <div class="dropdown show col-12">
                      <a class="dropdown-toggle " href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Age
                      </a>
                      <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                        <a class="dropdown-item" href="/charts/main/Computer/age/">All</a>
                        <a class="dropdown-item" href="/charts/main/Computer/age/2553">2553</a>
                        <a class="dropdown-item" href="/charts/main/Computer/age/2554">2554</a>
                        <a class="dropdown-item" href="/charts/main/Computer/age/2555">2555</a>
                        <a class="dropdown-item" href="/charts/main/Computer/age/2556">2556</a>
                        <a class="dropdown-item" href="/charts/main/Computer/age/2557">2557</a>
                        <a class="dropdown-item" href="/charts/main/Computer/age/2558">2558</a>
                        <a class="dropdown-item" href="/charts/main/Computer/age/2559">2559</a>
                      </div>
                    </div>
                    <div class="dropdown show col-12">
                      <a class="dropdown-toggle " href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Education
                      </a>
                      <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                        <a class="dropdown-item" href="/charts/main/Computer/education/">All</a>
                        <a class="dropdown-item" href="/charts/main/Computer/education/2553">2553</a>
                        <a class="dropdown-item" href="/charts/main/Computer/education/2554">2554</a>
                        <a class="dropdown-item" href="/charts/main/Computer/education/2555">2555</a>
                        <a class="dropdown-item" href="/charts/main/Computer/education/2556">2556</a>
                        <a class="dropdown-item" href="/charts/main/Computer/education/2557">2557</a>
                        <a class="dropdown-item" href="/charts/main/Computer/education/2558">2558</a>
                        <a class="dropdown-item" href="/charts/main/Computer/education/2559">2559</a>
                      </div>
                    </div>
              </div>
            </div>
          </div>
        </div>
        <div class="card mt-2 mr-md-3">
          <div class="card-header" role="tab" id="headingTwo">
            <h5 class="mb-0">
              <a class="collapsed" data-toggle="collapse" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                Internet
              </a>
            </h5>
          </div>
          <div id="collapseTwo" class="collapse" role="tabpanel" aria-labelledby="headingTwo" data-parent="#accordion">
            <div class="card-body col-12 row">
                    <div class="dropdown show col-12">
                      <a class="dropdown-toggle " href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Area
                      </a>
                      <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                        <a class="dropdown-item" href="/charts/main/Internet/area/">All</a>
                        <a class="dropdown-item" href="/charts/main/Internet/area/2553">2553</a>
                        <a class="dropdown-item" href="/charts/main/Internet/area/2554">2554</a>
                        <a class="dropdown-item" href="/charts/main/Internet/area/2555">2555</a>
                        <a class="dropdown-item" href="/charts/main/Internet/area/2556">2556</a>
                        <a class="dropdown-item" href="/charts/main/Internet/area/2557">2557</a>
                        <a class="dropdown-item" href="/charts/main/Internet/area/2558">2558</a>
                        <a class="dropdown-item" href="/charts/main/Internet/area/2559">2559</a>
                      </div>
                    </div>
                    <div class="dropdown show col-12">
                      <a class="dropdown-toggle " href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Age
                      </a>
                      <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                        <a class="dropdown-item" href="/charts/main/Internet/age/">All</a>
                        <a class="dropdown-item" href="/charts/main/Internet/age/2553">2553</a>
                        <a class="dropdown-item" href="/charts/main/Internet/age/2554">2554</a>
                        <a class="dropdown-item" href="/charts/main/Internet/age/2555">2555</a>
                        <a class="dropdown-item" href="/charts/main/Internet/age/2556">2556</a>
                        <a class="dropdown-item" href="/charts/main/Internet/age/2557">2557</a>
                        <a class="dropdown-item" href="/charts/main/Internet/age/2558">2558</a>
                        <a class="dropdown-item" href="/charts/main/Internet/age/2559">2559</a>
                      </div>
                    </div>
                    <div class="dropdown show col-12">
                      <a class="dropdown-toggle " href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Education
                      </a>
                      <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                        <a class="dropdown-item" href="/charts/main/Internet/education/">All</a>
                        <a class="dropdown-item" href="/charts/main/Internet/education/2553">2553</a>
                        <a class="dropdown-item" href="/charts/main/Internet/education/2554">2554</a>
                        <a class="dropdown-item" href="/charts/main/Internet/education/2555">2555</a>
                        <a class="dropdown-item" href="/charts/main/Internet/education/2556">2556</a>
                        <a class="dropdown-item" href="/charts/main/Internet/education/2557">2557</a>
                        <a class="dropdown-item" href="/charts/main/Internet/education/2558">2558</a>
                        <a class="dropdown-item" href="/charts/main/Internet/education/2559">2559</a>
                      </div>
                    </div>
              </div>
          </div>
        </div>
        <div class="card mt-2 mr-md-3">
          <div class="card-header" role="tab" id="headingThree">
            <h5 class="mb-0">
              <a class="collapsed" data-toggle="collapse" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                Mobile
              </a>
            </h5>
          </div>
          <div id="collapseThree" class="collapse" role="tabpanel" aria-labelledby="headingThree" data-parent="#accordion">
              <div class="card-body col-12 row">
                    <div class="dropdown show col-12">
                      <a class="dropdown-toggle " href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Area
                      </a>
                      <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                        <a class="dropdown-item" href="/charts/main/Mobile/area/">All</a>
                        <a class="dropdown-item" href="/charts/main/Mobile/area/2553">2553</a>
                        <a class="dropdown-item" href="/charts/main/Mobile/area/2554">2554</a>
                        <a class="dropdown-item" href="/charts/main/Mobile/area/2555">2555</a>
                        <a class="dropdown-item" href="/charts/main/Mobile/area/2556">2556</a>
                        <a class="dropdown-item" href="/charts/main/Mobile/area/2557">2557</a>
                        <a class="dropdown-item" href="/charts/main/Mobile/area/2558">2558</a>
                        <a class="dropdown-item" href="/charts/main/Mobile/area/2559">2559</a>
                      </div>
                    </div>
                    <div class="dropdown show col-12">
                      <a class="dropdown-toggle " href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Age
                      </a>
                      <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                        <a class="dropdown-item" href="/charts/main/Mobile/age/">All</a>
                        <a class="dropdown-item" href="/charts/main/Mobile/age/2553">2553</a>
                        <a class="dropdown-item" href="/charts/main/Mobile/age/2554">2554</a>
                        <a class="dropdown-item" href="/charts/main/Mobile/age/2555">2555</a>
                        <a class="dropdown-item" href="/charts/main/Mobile/age/2556">2556</a>
                        <a class="dropdown-item" href="/charts/main/Mobile/age/2557">2557</a>
                        <a class="dropdown-item" href="/charts/main/Mobile/age/2558">2558</a>
                        <a class="dropdown-item" href="/charts/main/Mobile/age/2559">2559</a>
                      </div>
                    </div>
                    <div class="dropdown show col-12">
                      <a class="dropdown-toggle " href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Education
                      </a>
                      <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                        <a class="dropdown-item" href="/charts/main/Mobile/education/">All</a>
                        <a class="dropdown-item" href="/charts/main/Mobile/education/2553">2553</a>
                        <a class="dropdown-item" href="/charts/main/Mobile/education/2554">2554</a>
                        <a class="dropdown-item" href="/charts/main/Mobile/education/2555">2555</a>
                        <a class="dropdown-item" href="/charts/main/Mobile/education/2556">2556</a>
                        <a class="dropdown-item" href="/charts/main/Mobile/education/2557">2557</a>
                        <a class="dropdown-item" href="/charts/main/Mobile/education/2558">2558</a>
                        <a class="dropdown-item" href="/charts/main/Mobile/education/2559">2559</a>
                      </div>
                    </div>
              </div>
          </div>
        </div>
    </div>
    </div>
    </div>
    </div>
    